@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    margin-top: -64px;
}

.navbar-item {
    position: relative;
    display: inline-block;
    padding: 2px 0;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.navbar-item:hover::after {
    width: 100%;
}

@keyframes bounce-custom {
    0%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(5px);
    }
    60% {
      transform: translateY(-5px);
    }
    80% {
      transform: translateY(2px);
    }
  }
  
  .animate-bounce-custom {
    animation: bounce-custom 0.6s ease-in-out;
  }